@font-face {
  font-family: 'kapakana-regular';
  src: url('../../assets/fonts/kapakana-regular.ttf');
}

@font-face {
  font-family: 'antic-regular';
  src: url('../../assets/fonts/antic-regular.ttf');
}

.login-container {
  /* background-image: linear-gradient(-139deg, #7d8dac, #313337); */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container::before {
  content: '';
  background-image: url('../../assets/img/bg-sign.png');
  background-repeat: no-repeat;
  background-position: 0 100%;
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
}

.login-form-control {
  min-height: 60vh;
}

.login-tittle {
  font-family: 'kapakana-regular';
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
  color: #333;
}

.login-subttitle {
  font-family: 'antic-regular';
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 82px;
  color: #333;
}

.login-group-form-control {
  margin: 81px auto;
}

.login-group-form {
  width: 100%;
  padding: 0 40px;
  margin: 28px auto 20px;
}

.login-group-form label {
  background-color: white;
  font-family: 'antic-regular';
}

.login-group-form input {
  width: 100%;
  height: 35px;
  font-family: 'antic-regular';
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  padding: 10px 0 0;
  background-color: #fff;
}

.login-show-password {
  display: flex;
  align-items: center;
  font-family: 'antic-regular';
  margin-top: 10px;
  cursor: pointer;
  color: #333;
}

.login-group-form input[type='checkbox'] {
  width: 20px;
  margin-right: 10px;
}

.login-group-form button {
  display: block;
  font-family: 'antic-regular';
  background-color: transparent;
  padding: 12px 60px;
  border: none;
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 50px;
  margin: 32px auto 20px;
  cursor: pointer;
}

.google-button {
  width: 260px;
  height: 50px;
  display: flex;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  align-items: center;
  cursor: pointer;
}

.page-signup-button {
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: #333;
  margin: 40px auto;
  display: block;
  width: 90px;
  background-color: white;
}

.google-icon {
  height: 100%;
}

.google-button p {
  color: black;
  margin-left: 3%;
}

@media (min-width: 800px) {
  .login-form-control {
    width: 400px;
    background: white;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.6);
    padding-top: 40px;
  }
  .login-group-form-control {
    margin: 45px auto;
    margin-bottom: 35px;
  }
  .login-tittle {
    color: #33353a;
  }
  .login-subttitle {
    color: #33353a;
    margin-top: 10px;
  }
  .login-group-form label {
    color: rgba(49, 51, 55, 0.4);
    font-weight: bold;
  }
  .login-group-form input {
    color: black;
    border-bottom: 1px solid #313337;
  }
  .show-password {
    align-items: center;
    color: black;
  }
  .signup-button {
    color: black;
  }
  .login-group-form button {
    color: white;
    background-color: #7b8baa;
    margin-top: 40px;
  }
  .google-button {
    margin: 20px auto;
    box-shadow: 0px 0px 3px black;
  }
}
