@font-face {
  font-family: 'kapakana-regular';
  src: url('../../assets/fonts/kapakana-regular.ttf');
}

@font-face {
  font-family: 'antic-regular';
  src: url('../../assets/fonts/antic-regular.ttf');
}

.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.dashboard-container a {
  color: white;
  text-decoration: none;
}

.container-sections {
  width: 100%;
  color: var(--color-light);
  height: 100%;
  overflow-y: auto;
}

@media (min-width: 960px) {
  body {
    background-color: var(--color-dark);
  }
  .dashboard-container {
    width: 100%;
    margin: 0 auto;
  }
  .container-sections {
    max-width: 100%;
    margin: auto;
    height: 100%;
    overflow-y: auto;
  }
}

@media(min-width: 1360px) {}